* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-color: #fff;
  justify-content: center;
}
.contain {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: rgba(0, 0, 0, 1) 2px 2px 30px 3px;
  border-radius: 5px;
  width: 500px;
  height: 440px;
  position: relative;
}
h3 {
  color: #fff;
  text-shadow: rgba(0, 0, 0, 1) 2px 2px 30px;
  font-size: 25px;
  text-align: center;
  text-transform: capitalize;
  margin-top: 18px;
}
.lineforh3 {
  background-color: #fff;
  width: 100%;
  height: 2px;
}
input {
  border-radius: 5px;
  border-color: blueviolet;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px 100px;
  width: 300px;
  height: 50px;
  text-align: center;
  font-size: 30px;
}
button {
  width: 110px;
  height: 30px;
  margin: 190px;
  position: absolute;
  border-radius: 6px;
  text-align: center;
  background-color: wheat;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  cursor: pointer;
}
#answer {
  background-color: rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 80px;
  bottom: 0px;
  position: absolute;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 1) 2px 2px 30px 3px;
  transition: all 1.3s;
}
#sol {
  color: rgba(255, 255, 255, 1);
  text-shadow: rgba(0, 0, 0, 1) 2px 2px 30px;
  font-size: 25px;
  font-weight: 900;
  letter-spacing: 1.2px;
  text-transform: capitalize;
  position: absolute;
  width: 100%;
  text-align: center;
  margin: 25px 0px;
  transition: all 0.9s;
  animation-name: something;
  animation-duration: 100s;
  animation-delay: 1.5s;
}
@keyframes something{
  0%{
    color: #fff;
  }
  35%{
    color: rgba(34,33,33,1);
  }

  50%{
    color: #fff;
  }
  75%{
    color: gray;
  }
  100%{
    color: #fff;
  }
}
 
